{% extends 'cbvApp/index.html' %}
{% block title %}Student Detail{% endblock  %}
{% block body_block %}
    <h1>Student Details:</h1>
    <table>
        <thead></thead>
        <th><h3>First Name</h3></th>
        <th><h3>Last Name</h3></th>
        <th><h3>Test Score</h3></th>
    </thead>
        <tr>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.testScore}}</td>
        </tr>
    </table>
    <a href=" / ">Student List</a>
{% endblock  %}