h1{
    text-align: center;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
}
li{
    margin: 15%;
    list-style: none;
}
img{
    width: 150px;
    height: 200px;
    border: 2px solid black;
    box-shadow: 4px 4px 5px black;
    border-radius: 15px;
}