{% extends 'cbvCCApp/base.html' %}
{% load static %}
    {% block title %}{{course.courseName}}{% endblock title %}
{% block body_block %}
{% load my_tags %}
    <h1>Course Detail:</h1><br>
    <table>
        <tr>
            <td>Course Name :</td>
            <td>{{course.courseName}}</td>
        </tr>
        <tr>    
            <td>Course Name :</td>
            <td>{{course.description}}</td>
        </tr>
        <tr>
            <td>Course Name :</td>
            <td>{{course.instructor}}</td>
        </tr>
        <tr>
            <td>Course Name :</td>
            <td>{{course.rates}}</td>
        </tr>
    </table>
    <a href='/'><button>Tanfolyam Lista</button></a>
    <a href="/update/{{course.id}}"><button>Update</button></a>
    <a href="/delete/{{course.id}}"><button>Delete</button></a>
    {% endblock body_block %}