{% extends 'cbvCCApp/base.html' %}
{% load static %}
{% block title %}Course List{% endblock title %}
{% block css1%}<link rel="stylesheet" href="{%static 'cbvCCApp/reset.css'%}">{% endblock css1 %}
{% block css2%}<link rel="stylesheet" href="{%static 'cbvCCApp/index.css'%}">{% endblock css2 %}
{% block body_block %}
{% load my_tags %}
    <h1>Course List:</h1>
    {% if course_list %}
    <table>
        <thead>
            <th>Course Name</th>
            <th>Description</th>
            <th>Instructor</th>
            <th>Rates</th>
        </thead>
        {% for row in course_list %}
        <tr>
            <td><a href="/{{row.id}}">{{row.courseName|firstLetter}}</a></td>
            <td>{{row.description|everyFirstLetter}}</td>
            <td>{{row.instructor}}</td>
            <td>{{row.rates}}</td>
            <td><a href="update/{{row.id}}">Update</a></td>
            <td><a href="delete/{{row.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table><br>
    {% else %}
        <h1>Haven't got any information</h1>
    {% endif %}
    <a href="create/"><button>Create Course</button></a>
{% endblock body_block %}