<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cbvCCApp/reset.css' %}">
    <link rel="stylesheet" href="{% static 'cbvCCApp/index.css' %}">
    <title>Course List</title>
</head>
<body>
    <h1>Course List:</h1>
    {% if course_list %}
    <table>
        <thead>
            <th>Course Name</th>
            <th>Description</th>
            <th>Instructor</th>
            <th>Rates</th>
        </thead>
        {% for row in course_list %}
        <tr>
            <td><a href="/{{row.id}}">{{row.courseName}}</a></td>
            <td>{{row.description}}</td>
            <td>{{row.instructor}}</td>
            <td>{{row.rates}}</td>
            <td><a href="update/">Update</a></td>
            <td><a href="delete/">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>Haven't got any information</h1>
    {% endif %}
</body>
</html>