{% extends 'clinicalApp/base.html' %}
{% load static %}
{% block reset %}<link rel="stylesheet" href="{% static 'CSS/reset.css' %}">{% endblock reset %}
{% block css %}<link rel="stylesheet" href="{% static 'CSS/index.css' %}">{% endblock css %}
{% block title %}Delete Patient{% endblock title %}
{% block h1 %}Are you really Delete this Patient?{% endblock h1 %}
{% block body_block %}
    <form method="post">
        {{patient.firstName}} {{patient.lastName}}
        {% csrf_token %}
        <p></p>
        <button class='bottom' type="submit">Delete</button>
    </form>
    <a href="/"><button class='bottom'>Back</button></a>
    {% endblock body_block %}