{% extends 'clinicalApp/base.html' %}
{% load static %}
{% block reset %}<link rel="stylesheet" href="{% static 'CSS/reset.css' %}">{% endblock reset %}
{% block css %}<link rel="stylesheet" href="{% static 'CSS/index.css' %}">{% endblock css %}
{% block title %}Patient List{% endblock title %}
{% block h1 %}Patiens:{% endblock h1 %}
{% block body_block %}
    {% if patient_list %}    
    <table>
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </thead>
        {% for patient in patient_list %}
            <tr>
                <td>{{patient.id}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.age}}</td>
                <td><button><a href="/addData/{{patient.id}}">Add Data</a></button></td>
                <td><button><a href="/update/{{patient.id}}">Update</a></button></td>
                <td><button><a href="/delete/{{patient.id}}">Delete</a></button></td>
                <td><button><a href="/analyze/{{patient.id}}">Analyse</a></button></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="/create"><button class='bottom'>Add Patient</button></a>
    {% endblock body_block %}